@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Home Page";
}

<body class="homeBackground-image">
<div class="container text-center specific-view-background">
        <h1 class="display-4" style="font-weight: bold;">Welcome</h1>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        @if (User.IsInRole("Employee"))
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="farmer_image.jpg" class="card-img-top" alt="Farmer Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">Add Farmer</h5>
                        <p class="card-text">Add a new farmer to the system.</p>
                        <a href="@Url.Action("Add", "Farmer")" class="btn btn-success">Add Farmer</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="farmer_image.jpg" class="card-img-top" alt="Farmer Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">View Farmers</h5>
                        <p class="card-text">View existing farmers in the system.</p>
                        <a href="@Url.Action("Index", "Farmer")" class="btn btn-success">View Farmer</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="marketplace_image.jpg" class="card-img-top" alt="Marketplace Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">Marketplace</h5>
                        <p class="card-text">Explore the marketplace for available products.</p>
                        <a href="@Url.Action("Index", "Marketplace")" class="btn btn-success">View Marketplace</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="marketplace_image.jpg" class="card-img-top" alt="Marketplace Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">Farm Hub</h5>
                        <p class="card-text">Explore interactive forums and discussion boards.</p>
                        <a href="@Url.Action("Index", "FarmHub")" class="btn btn-success">View Farm Hub</a>
                    </div>
                </div>
            </div>
        }
        @if (User.IsInRole("Farmer"))
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="product_image.jpg" class="card-img-top" alt="Product Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">Add Product</h5>
                        <p class="card-text">Add a new product to your inventory.</p>
                        <a href="@Url.Action("Add", "Product")" class="btn btn-success">Add Product</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="product_image.jpg" class="card-img-top" alt="Product Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">View Products</h5>
                        <p class="card-text">View your existing products.</p>
                        <a href="@Url.Action("Index", "Product")" class="btn btn-success">View Product</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="marketplace_image.jpg" class="card-img-top" alt="Marketplace Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">Marketplace</h5>
                        <p class="card-text">Explore the marketplace for available products.</p>
                        <a href="@Url.Action("Index", "Marketplace")" class="btn btn-success">View Marketplace</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="marketplace_image.jpg" class="card-img-top" alt="Marketplace Image">
                    <div class="card-body text-center">
                        <h5 class="card-title">Farm Hub</h5>
                        <p class="card-text">Explore interactive forums and discussion boards.</p>
                        <a href="@Url.Action("Index", "FarmHub")" class="btn btn-success">Farm Hub</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
</body>
